## 파이썬 기초

#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [8]:
!python -V

Python 3.8.13

In [ ]:
# 표현식
print(273)
10+20+30

273

60

In [2]:
# 표현식이 하나 이상씩 모이면 문장
print("Hello Python")
print(52, 'Hello Python', 5+3)

Hello Python
52 Hello Python 8

In [10]:
# 문장이 모여서 프로그램
a = 1;b = 1;c=a+b
print(c)

2

In [12]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [4]:
# python keyword
import keyword
print(keyword.kwlist,'\n')
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

식별자 기본 규칙 : 식별자는 코드 내의 변수, 함수 혹은 속성을 식별하는 문자열
- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(_) 만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [5]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자
AlpHa
ALPHA
has space # 공백

SyntaxError: invalid syntax (2613662511.py, line 5)

https://bibi6666667.tistory.com/277  
파이썬은 snake_case와 CamelCase를 모두 사용
- itemlist     item_list     ItemList
- loginstatus  login_status  LoginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [1]:
print('3이 있습니다.')

3이 있습니다.

In [3]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어

if 3 in [1,2,3,4]: print('3이 있습니다.')

3이 있습니다.

#### 2진수,8진수,16진수의 모든것
https://itbeginner2020.tistory.com/17

In [ ]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0o로 시작
f = 0xABC # 16진수 0x로 시작
g = 0b101010 # 2진수 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [15]:
# 2진수를 10진수로 표현
g1 = 0b100000
g2 = 0b1000
g3 = 0b10
print(g1)
print(g2)
print(g3)

32
8
2

In [22]:
# 16진수를 10진수로 표현
f1 = 0xA
f2 = 0xB
f3 = 0xAB
print(f1)
print(f2)
print(f3)
print(16*10+1*11)

10
11
171
171

In [ ]:
# 사칙연산
a = 10
b = 2
c = a + b
d = a * b
e = a / b
f = a % b  # 나머지
g = a // b # 몫
h = 2 ** 3 # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
8

In [4]:
# 다른 타입간 연산은 안됨
string = "문자열 "
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [7]:
print(type(string))
type(number)

<class 'str'>

int

In [8]:
a = 10
a = "문자"
a = 100
print(a)
type(a)

100

int

In [9]:
# 복합 대입 연산자
num = 10
num += 10
num *= 10
num

200

In [11]:
num = 100
num *= 10
num -= 990
num /= 10
print(num)
print(type(num))

1.0
<class 'float'>

In [13]:
a = "나는 "
b = "파이썬을 "
c = "좋아한다"
a + b + c

'나는 파이썬을 좋아한다'

In [15]:
a = "파이썬 "
b = '3.8'
print(type(b))
a + b

<class 'str'>

'파이썬 3.8'

In [16]:
# 사용자 입력
input('인사말을 입력하세요: ')

인사말을 입력하세요: 안녕하세요!!!

'안녕하세요!!!'

In [ ]:
num = input('숫자를 입력하세요: ')
print(num)
type(num)

숫자를 입력하세요: 10
10

str

In [17]:
num1 = input('숫자를 입력하세요')
num2 = input('숫자를 입력하세요')
print(num1 + num2)

숫자를 입력하세요5
숫자를 입력하세요5
55

In [ ]:
# input() 함수를 사용하면 숫자도 문자로 전환되어 숫자연산을 위한 변환 필요
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n + num2_n)

숫자를 입력하세요5
숫자를 입력하세요5
10

In [ ]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

In [ ]:
# A.
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = float(num2)
print(num1_n + num2_n)
# print(num1 + num2)

숫자를 입력하세요3
숫자를 입력하세요3.3
6.3

In [ ]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 
# 자료형으로 변환하세요.

In [ ]:
# A.
a = 52
b = 52.273
print(str(a) + str(b))

5252.273

In [21]:
# 문자열 : "", '', """ """, ''' '''
p1 = "python's value is great"
# p2 = 'python's value is great'
print(p1)

python's value is great

In [23]:
s1 = '"python is valuable" he says'
s1

'"python is valuable" he says'

In [24]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [28]:
y1 = "Once you study data analysis\nYou need Python"
print(y1)
y2 = '''Once you study data analysis
You need Python'''
print(y2)
y3 = """nce you study data analysis
You need Python"""
print(y3)

Once you study data analysis
You need Python
Once you study data analysis
You need Python
nce you study data analysis
You need Python

In [ ]:
# string = '''"What a wonderful world!"\n he said loudly'''
string = '''"What a wonderful world!"
he said loudly'''
print(string)

"What a wonderful world!"
he said loudly

In [ ]:
# 문자열 연산
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("=" * 20)

Python is easy to learn
PythonPythonPython
====================

In [ ]:
# 자료형 - List 
# 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [31]:
# 인덱싱 : 0부터 시작
list1 = [1,2,3,4,5]
list1[:]

[1, 2, 3, 4, 5]

In [34]:
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3[2])
print(list3[3][4])
print(list3[4][1])

abc
5
b

In [36]:
# 리스트 수정, 삭제

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
a[0] = 1
b[1] = 'a'
print(a)
print(b)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [37]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
c = a + b
print(c)
c[-1] = 1
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 1]

In [ ]:
c[-2] = 2
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 2, 1]

In [ ]:
# 정렬
b = [2,4,3,1]
b.sort()
print(b)
# 내림차순
b_d = sorted(b, reverse=True)
print(b_d)
b.reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [ ]:
# 정렬 ,내림차순으로 변환
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]

s.sort()
print(s)
s_d = sorted(s, reverse=True)
print(s_d)
s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [55]:
# 인덱스 위치 반환
c = [1,2,3,1,5]
print(c.index(3))

2

In [44]:
import numpy as np

np.random.randint(5, size=100) # 0 ~ 4 사이에서 무작위로 100개의 정수를 배열로 출력

array([3, 0, 0, 0, 0, 3, 1, 1, 1, 0, 1, 4, 3, 2, 0, 0, 0, 3, 0, 1, 0, 1,
       1, 0, 3, 3, 4, 3, 1, 3, 4, 4, 4, 4, 1, 1, 1, 4, 2, 3, 4, 2, 4, 0,
       2, 1, 0, 2, 1, 1, 0, 1, 0, 1, 0, 3, 0, 3, 1, 3, 1, 3, 4, 0, 3, 0,
       3, 1, 0, 1, 4, 4, 3, 0, 3, 4, 1, 0, 4, 4, 3, 2, 4, 4, 0, 3, 0, 3,
       1, 0, 4, 4, 0, 3, 0, 2, 4, 4, 2, 2])

In [53]:
# tolist() 리스트로 변환
import numpy as np
c = np.random.randint(100, size=100).tolist()
print(c)
print(len(c))
c.index(1) # 1의 인덱스

[56, 76, 54, 76, 95, 80, 43, 83, 10, 27, 60, 53, 33, 36, 20, 59, 52, 82, 4, 97, 73, 64, 46, 40, 76, 53, 9, 79, 94, 15, 85, 7, 68, 32, 11, 17, 81, 25, 90, 53, 30, 98, 47, 3, 54, 78, 55, 84, 1, 56, 33, 35, 79, 26, 61, 79, 68, 13, 65, 97, 1, 60, 55, 21, 14, 3, 60, 65, 45, 98, 70, 14, 5, 30, 68, 14, 35, 63, 29, 1, 35, 62, 95, 76, 97, 97, 21, 71, 14, 42, 41, 66, 73, 3, 15, 53, 75, 12, 83, 44]
100

48

In [57]:
# 개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(5))

2

In [ ]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5])
print(h)
# 추가
h.append(6)
print(h)
h.insert(0,5)
print(h)
h.insert(10,7)
print(h)
len(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]

8

In [ ]:
# Q. list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]에서 아래와 같이 출력하세요
list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# [0, 2, 4, 6, 8]
# [1, 3, 5, 7, 9]
# [2, 1, 0]

In [62]:
list=[0,1,2,3,4,5,6,7,8,9]
print(list[0::2])

list=[0,1,2,3,4,5,6,7,8,9]
print(list[1::2])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [73]:
list=[0,1,2,3,4,5,6,7,8,9]
list.reverse()
print(list[7:])

[2, 1, 0]

In [72]:
list=[0,1,2,3,4,5,6,7,8,9]
li = sorted(list,reverse=True)
print(li)
print(li[7:])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[2, 1, 0]

In [3]:
# Q. list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]에서 아래와 같이 출력하세요
list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# [0, 2, 4, 6, 8]
# [1, 3, 5, 7, 9]
# [2, 1, 0]

print(list[::2])
print(list[1::2])
print(list[2::-1])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[2, 1, 0]

In [14]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(list1[11][1])
list1.append(82)
print(list1)
print(list1.count(82))
list1.index(87)
print(list1[3::10])
list2=list1[3::10]
list2.sort()
list2.reverse
print(list2)

33
[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
2
[19, 49]
[19, 49]

In [81]:
np.random.randint(100, size=20)

array([58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54,  8, 33, 11, 27, 49, 63,
       98, 22, 82])

[과제] list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 82의 갯수를 구하기
- 87의 인덱스 구하기
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기
-39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [16]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b', 'c')
tuple3 = (1, 'a', 'abc', [1,2,3,4,5], ['a','b','c'])

print(tuple1[:])
print(tuple3[2])
print(tuple3[3][4])
print(tuple3[4][1])

(1, 2, 3, 4, 5)
abc
5
b

In [18]:
tuple1 = (1,2,3,4,5)
tuple1[0] = 6
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [28]:
list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(list1[11][1])
list1.append(82)
print(list1)
print(list1.count(82))
list1.index(87)
print(list1[3:10])
list2 = list1[3:10]
list2.sort()
list2_d = sorted(list2, reverse=True)
print(list2_d)
list1[8] = 11
print(list1)
print(list1[2::-1])
print(list1[0::2])
del list1[-1]
print(list1)
a = list1[3]
b = list1[5]
print(a + b)

33
[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
2
[19, 4, 87, 29, 13, 39, 15]
[87, 39, 29, 19, 15, 13, 4]
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
[69, 45, 58]
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
106

In [33]:
t1 = (1, )
print(t1)
t2 = 1, 2, 3
print(t2)
print(t2 * 3)
t3 = t1 + t2
print(t3)
t4 = (1)
print(t4)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [35]:
d1 = {'a' : 1, 'b' : 2, 'c' : 3}
print(d1['a'])
d1['b'] = 5
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [38]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [2]:
s1 = set([1, 2, 5, 4, 3])
s2 = set('Hello')
print(s1)
print(s2)
l1 = list(s1)
print(l1)
print(l1[1])
l2 = list(s2)
print(l2)
print(l2[1])

{1, 2, 3, 4, 5}
{'o', 'l', 'e', 'H'}
[1, 2, 3, 4, 5]
2
['o', 'l', 'e', 'H']
l

In [1]:
t1 = {'연필' : 300, '볼펜' : 1000, '노트' : 2000}
print(t1.keys())
t1['연필'] = 10000
print(t1.values())
print(t1.items())
print("어느 제품을 구매하시겠습니까?")

dict_keys(['연필', '볼펜', '노트'])
dict_values([10000, 1000, 2000])
dict_items([('연필', 10000), ('볼펜', 1000), ('노트', 2000)])
어느 제품을 구매하시겠습니까?

In [5]:
name = '홍길동'
age = 25
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 25입니다.'

In [235]:
d = {'name' : 'Hong', 'age' : 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 Hong입니다. 나이는 30입니다.'

In [228]:
n = 'In Hyeok'
h = 'game'
a = 29
d = {'n1' : 'In Hyeok1', 'h1' : 'game1', 'a1' : 30} 
f'나의 이름은 {n}이고 나이는 {a}입니다. 그리고 취미는 {h}입니다.'
f'나의 이름은 {d["n1"]}이고 나이는 {d["a1"]}입니다. 그리고 취미는 {d["h1"]}입니다.'

'나의 이름은 In Hyeok1이고 나이는 30입니다. 그리고 취미는 game1입니다.'

In [23]:
f1 = "{} 선수가 {}등 입니다.".format('hong',1)
print(f1)
print("%s 선수가 %d등입니다." %("홍길동",1))

hong 선수가 1등 입니다.
홍길동 선수가 1등입니다.

In [29]:
num1 = 12345
print(num1)
print(f'{num1 : 10.0f}')
num2 = 12.345679
print(num2)
print(f'{num2 : 16.3f}')

12345
     12345
12.345679
          12.346

In [32]:
m = 50000
e = 50000

if m > e :
    print('저축 증가')
elif m < e :
    print('빚 증가')
else :
    print('현상 유지')

현상 유지

In [50]:
import numpy as n
n0 = n.arange(10).tolist()
for n in n0:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [51]:
n = [1, 2, 3, 4, 5]
for n0 in n :
    print(n0)

1
2
3
4
5

In [54]:
for i in range(1, 11) :
    print(i, end = ' ')
    if i < 5 :
        continue
    else :
        break

1 2 3 4 5

In [127]:
n = [5, 15, 6, 20, 7, 25]

for n in n :
    if n > 10 :
        print(n, end = ' ')        
    else :
        continue

15 20 25

In [124]:
n = [5, 15, 6, 20, 7, 25]

for i in n:
    if (i%5 == 0) & (i != 5):
            print(i,end=" ")
    else:
        continue

15 20 25

In [129]:
x = 1
sum = 0
while 1 :
    sum = sum + x
    if sum > 1000 :
        print(x)
        print(sum)
        break
    x = x + 1

45
1035

In [ ]:
a = 1
while 1 :
    print(a)

In [165]:
x = 1
sum = 0

while x < 1001 :
    if x % 3 == 0 :
        sum = sum + x
    x = x + 1
print(sum)

166833

In [168]:
x = 1
sum = 0

while x < 101 :
    x += 1
    if x > 4 :
        if x < 96 :
            sum = sum + x        
print(sum)

4550

In [171]:
a = 5 // 2
b = 5 % 2
print(a)
print(b)

2
1

In [173]:
print(101**3)

1030301

In [177]:
a = 'Python '
b = '3.8.3'
print(a + b)

Python 3.8.3

In [179]:
print((5**3) % 3)

2

In [ ]:
print("이름이 무엇인가요?")
name = input()
f'제 이름은 {name}입니다.'

In [191]:
x = int (input("숫자 3개를 입력하세요: "))
y = int (input(""))
z = int (input(""))

print(x**y//z)

숫자 3개를 입력하세요: 5
5
5
625

In [198]:
# while 문을 사용해 1~1000 까지의 정수 중 3과 5의 공배수의 합을 구해 보세요.

In [211]:
n = 1
sum = 0

while n < 1001 :
    if ((n % 3) == 0) & ((n % 5) == 0) :
        sum = sum + n
    n = n + 1
print(sum)

33165

In [212]:
#1 부터 5 까지 입력해서 12345를 출력하세요

In [221]:
x = int(input(""))
x1 = int(input(""))
x2 = int(input(""))
x3 = int(input(""))
x4 = int(input(""))

list1 = [x, x1, x2, x3, x4]
list1.sort()

print(list1)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [216]:
#[0,1,2,3,4,5,6,7,8,9,'a','b','c']에서 'c'를 삭제 후 출력하세요.

In [217]:
n = [0,1,2,3,4,5,6,7,8,9,'a','b','c']

del n[12]

print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b']

In [218]:
#[4,8,5,4,8,4,3,9,1,9]를 내림차순으로 정렬하세요

In [323]:
l = [4,8,5,4,8,4,3,9,1,9]
l.sort(reverse = True)
print(l)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [222]:
#format 함수를 이용해서 다음과 같은 형식으로 현재 날짜/ 시간을 출력하세요.
#2021년 12월 29일 15시 47분 30초

In [284]:
f1 = "{}년 {}월 {}일 {}시 {}분 {}초".format(2021, 12, 29, 15, 47, 30)
print(f1)

2021년 12월 29일 15시 47분 30초

In [308]:
y = '2021'
M = '12'
d = '29'
h = '15'
m = '47'
s = '30'

f'{y}년 {M}월 {d}일 {h}시 {m}분 {s}초'

'2021년 12월 29일 15시 47분 30초'

In [309]:
import datetime

now = datetime.datetime.now()

print("{}년 {}월 {}일 {}시 {}분 {}초".format(now.year, now.month, now.day, now.hour, now.minute, now.second))

2023년 3월 7일 17시 15분 2초

In [239]:
#현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.

In [326]:
import datetime

now = datetime.datetime.now()

t = now.hour

if (t >= 0) & (t < 13) :
    print("오전")
elif (t >= 13) & (t < 24) :
    print("오후")
else :
    print("잘못 입력하셨습니다.")

오후

In [282]:
#정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성

In [301]:
n = int(input(""))

if (n % 2 == 0) :
    print("짝수")
else :
    print("홀수")

12
짝수

In [314]:
#계절 구분 프로그램 각 계절별 출력 멘트는 계절에 맞게 창작
#if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [327]:
import datetime

s = now.month

now = datetime.datetime.now()

if 3  <= s <= 5 :
    season = "봄"
    print("봄")

if 6  <= s <= 8 :
    season = "여름"
    print("여름")
    
if 9  <= s <= 11 :
    season = "가을"
    print("가을")
    
if s <= 2 or s == 12 :
    season = "겨울"
    print("겨울")

봄

In [328]:
month = int(input()) 
season = '' 

if(month in [12, 1, 2]): 
    season = 'winter' 

elif(month in [3, 4, 5]): 
    season = 'spring' 

elif(month in [6, 7, 8]): 
    season = 'summer' 

else: 
    season = 'fall' 

print(season)



a=int(input())
if a//3==1:
    print('spring')

elif a//3==2:
    print('summer')

elif a//3==3:
    print('fall')

else:
    print('winter')

3
spring
8
summer

In [240]:
#커피 자판기 프로그램
#시나리오: 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지않으면 반환하며 재고가 소진되면 안내멘트 출력
#각 case별 멘트 출력은 상황에 맞게 창작

In [ ]:
#도전과제 사용자가 입력한 게임 횟수 만큼 로또 번호를 출력하는 프로그램을 작성하세요.(중복 불허)
# 김나영 김동완 김예슬 김용훈 김태현 남동연 박서진 박주경 손아 옥유리 옥주리 윤예운 윤정현 이승주 임수현 장인혁 정슬기 한나영 조차선 이지연 김성호 오윤택 최정인